test/

# node
node_modules/
.bowerrc
.vagrant/

# dest files
*.auto.scss

# Windows
# thumbnails
Thumbs.db
.DS_Store

# Visual Studio PHP
*.sln
*.phpproj
*.puo
*.suo
*.cache

# Netbeans
nbproject/
catalog.xml
nbactions.xml

# Eclipse
.settings/
.buildpath
.classpath
.project
.metadata

# SVN
# svn folders
.svn/
.vlt

.idea/
.nameencodings
.xmlmisc
.xmlmodules
.xmlprojectCodeStyle
.xmlvcs.xml
*.imlworkspace
.xml
